@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-heebo);
  --font-display: var(--font-playfair);

  --color-cream: #f4ecdf;
  --color-espresso: #1a1613;
}

html {
  scroll-behavior: smooth;
}

/* מניעת overflow אופקי ב-RTL */
body {
  overflow-x: hidden;
}
